# # # # langchain
# # # # langchain-groq
# # # # faiss-cpu
# # # # tiktoken
# # # # langchain-community
# # # # langchain-openai
# # # # chromadb
# # # # sentence-transformers
# # # # pypdf
# # # # python-dotenv
# # # # pymupdf
# # # # unstructured
# # # # pdfminer
# # # # python-docx
# # # # docx2txt
# # # # pandas
# # # # openpyxl
# # # # jq
# # # # matplotlib
# # # # ## Embeddings
# # # # langchain-huggingface
# # # # sentence-transformers
# # # # langchain-experimental
# # # # rank_bm25
# # # # wikipedia
# # # # langgraph

# # # # langchain-text-splitters



# # # langchain==0.0.354
# # # langchain-community==0.0.29
# # # langchain-openai
# # # faiss-cpu
# # # tiktoken
# # # chromadb
# # # sentence-transformers
# # # pypdf
# # # python-dotenv
# # # python-docx
# # # docx2txt
# # # pandas
# # # openpyxl
# # # rank_bm25
# # # wikipedia
# # # langchain-text-splitters



# # langchain
# # # langchain==0.0.354
# # python-dotenv
# # ipykernel
# # langchain-community
# # # langchain-community==0.0.29
# # pypdf
# # bs4
# # arxiv
# # pymupdf
# # wikipedia
# # langchain-text-splitters
# # langchain-openai
# # chromadb
# # sentence_transformers
# # langchain_huggingface
# # faiss-cpu
# # langchain_chroma
# # duckdb
# # pandas
# # openai
# # langchain-groq
# # duckduckgo_search==5.3.1b1
# # pymupdf
# # arxiv
# # wikipedia
# # mysql-connector-python
# # SQLAlchemy
# # validators==0.28.1
# # youtube_transcript_api
# # unstructured
# # pytube
# # numexpr
# # huggingface_hub




langchain
python-dotenv
ipykernel
langchain-community
pypdf
bs4
arxiv
pymupdf
wikipedia
langchain-text-splitters
langchain-openai
chromadb
sentence_transformers
langchain_huggingface
faiss-cpu
langchain_chroma
duckdb
pandas
openai
langchain-groq
duckduckgo_search==5.3.1b1
pymupdf
arxiv
wikipedia
mysql-connector-python
SQLAlchemy
validators==0.28.1
youtube_transcript_api
unstructured
pytube
numexpr
huggingface_hub


